PORT: 3000,
HOST: "localhost",
DB_URI: "mongodb://localhost:27017/music-api",
PRIVATE_KEY: `-----BEGIN RSA PRIVATE KEY-----
  eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJfaWQiOiI2MzVmMDZjZmE0YmI0YzU5N2VkMzUxZjYiLCJuYW1lIjoiTXRob2Jpc2kgTWtob250byIsImVtYWlsIjoibW1raG9udG8zQGdtYWlsLmNvbSIsImNyZWF0ZWRBdCI6IjIwMjItMTAtMzBUMjM6MjA6NDcuMzUzWiIsInVwZGF0ZWRBdCI6IjIwMjItMTAtMzBUMjM6MjA6NDcuMzUzWiIsIl9fdiI6MCwic2Vzc2lvbiI6IjYzNWYwNmUwYTRiYjRjNTk3ZWQzNTFmOSIsImlhdCI6MTY2NzE3MjA2NCwiZXhwIjoxNjY3MTcyOTY0fQ.Y4cGo8Pg-20RASDbEjCK8CoVzE8RTVi-xPn-Gu1hNHU
  -----END CERTIFICATE-----`